*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

#container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

#containerSqr {
    display: flex;
    flex-wrap: wrap;
}


.sqr{
    height: 150px;
    width: calc(100% / 7);
    padding: 10px 10px;
}

.contentSqr {
    height: 100%;
    width: 100%;
    background-color: #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.fizz {
    background-color: rgb(5, 223, 5);
}

.buzz {
    background-color: rgb(48, 48, 243);
}

.fizzbuzz {
    background-color: rgb(253, 50, 50);
}